:root {
  --lightgreen: #7cfc00;
  --lightgreen-transparent: #7efc00ea;
  --darkgreen: #108000;
  --darkgreen-alt: #7cfc0031;
  --white: #fff;
  --lightgrey: #ddd;
  --lightgrey-alt: #777;
  --darkgrey: rgb(27, 33, 39);
  --black-transparent: #00000050;
  --font-xl: 2.5rem;
  --font-l: 2rem;
  --font-m: 1.3rem;
  --font-s: 1rem;
  --spacing: 1.3rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: 'Fjalla One', sans-serif;
}

p {
  font-family: 'Source Sans Pro', cursive;
}

.wrapper {
  background: inherit;
  margin: 0 auto;
  width: 80%;
  height: inherit;
  display: inherit;
  justify-content: space-between;
  align-items: inherit;
  flex-shrink: inherit;
  flex-wrap: inherit;
}

/* ------------------ burger Menu ------------------- */
.burger-button {
  display: none;
  width: var(--font-xl);
  height: var(--font-xl);
  background-color: var(--black-transparent);
  border-radius: 50%;
  font-size: var(--font-m);
  line-height: var(--font-xl);
  text-align: center;
  color: white;
  position: fixed;
  z-index: 10;
  top: .5em;
  left: .5em;
}

/* ------------------ header ------------------- */
.header {
  background-color: var(--darkgrey);
  color: var(--white);
  min-height: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-shadow: 0px 10px 10px #000;
  position: relative;
  z-index: 5;
}

.logo-link,
.logo-container {
  display: flex;
  align-items: center;
  height: var(--font-xl);
  margin: auto 0;
}

.logo-img {
  height: var(--font-xl);
  width: auto;
}

.logo-svg {
  margin-left: 10px;
  color: var(--white);
  height: 80%;
}

.menu {
  height: inherit;
  z-index: 5;
}

.menu-list {
  display: flex;
  height: 100%;
}

.menu-item {
  height: inherit;
}

.menu-link-url {
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0 10px;
  color: var(--white);
}

.menu-link-url:hover {
  background-color: var(--black-transparent);
}

/* ------------------ hero ------------------- */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 300px;
  width: 100%;
  background-color: var(--darkgrey);
}

.hero-title {
  height: auto;
  width: 700px;
  background: inherit;
  font-size: var(--font-xl);
  line-height: 1.5;
  letter-spacing: -0.5px;
  color: var(--white);
}

.hero-title strong {
  color: var(--lightgreen);
}

.hero-img-container {
  display: flex;
  height: inherit;
  width: 50%;
  overflow: hidden;
}

.hero-img {
  height: inherit;
  width: 100%;
  object-fit: cover;
}

.divider {
  margin-right: -50px;
  border-top: 300px solid var(--darkgrey);
  border-right: 50px solid transparent;
  position: relative;
  height: 100%;
}

/* ------------------ portfolio ------------------- */
.portfolio {
  background-color: var(--lightgrey);
  padding: 1px;
  padding-top: var(--spacing);
}

.portfolio-title {
  color: var(--lightgreen);
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  margin-bottom: var(--spacing);
  text-shadow: 0 0 5px var(--darkgreen);
}

.project {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  background-color: var(--white);
  border-radius: 10px;
  margin-bottom: var(--spacing);
  padding: 15px;
  box-shadow: 5px 5px 5px var(--darkgrey);
}

.project-details {
  width: 100%;
  padding: 10px;
  background: none;
}

.project-title {
  font-size: var(--font-m);
  margin: 0 0 .4em 0;
}

.project-course,
.project-date,
.project-url {
  color: var(--lightgrey-alt);
  font-size: var(--font-s);
  margin: .7em 0;
}

.project-url a {
  color: inherit;
  text-decoration: underline;
}

.project strong {
  color: var(--darkgrey);
}

.project-description {
  font-size: var(--font-m);
}

.project-imageContainer {
  width: 80%;
  display: block;
  text-align: center;
}

.project-image {
  width: 100%;
  vertical-align: top;
}

/* ------------------ experience ------------------- */
.experience-list-title {
  background: var(--lightgrey);
  color: var(--lightgreen);
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  margin: 0;
  padding-bottom: var(--spacing);
  text-shadow: 0 0 5px var(--darkgreen);
}

.experience-list {
  background: var(--lightgrey);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.experience {
  width: 48%;
  overflow: hidden;
  flex-shrink: 0;
  background: var(--darkgreen-alt);
  border-radius: 15px;
  box-shadow: 5px 5px 5px var(--darkgrey);
  margin-bottom: var(--spacing);
}

.experience-imageContainer {
  margin: 0;
  height: 250px;
}

.experience-image {
  width: 100%;
  height: inherit;
  object-fit: cover;
  object-position: top;
}

.experience-details {
  height: 250px;
  position: relative;
  margin: 7%;
  margin-top: -40px;
  padding: 10px;
  background: var(--white);
  text-align: center;
}

.experience-title {
  margin: 10px;
  font-size: var(--font-l);
  color: var(--darkgrey);
}

.experience-description-container {
  margin-bottom: 5px;
  height: 190px;
  overflow: auto;
}

.experience-description {
  font-size: var(--font-s);
  color: var(--lightgrey-alt);
  text-align: left;
}

.experience-url {
  display: inline-block;
  color: var(--lightgreen);
  border: 2px solid;
  border-radius: 5px;
  padding: 5px 20px;
}

/* ------------------ contact ------------------- */
.contact {
  background: var(--darkgreen);
  min-height: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  margin: 1rem auto 0;
}

.form-title {
  color: var(--white);
  font-size: var(--font-l);
  text-transform: uppercase;
}

.form-email {
  border: 1px solid var(--white);
  border-radius: 5px;
  width: 100%;
  height: 30px;
  margin: 10px 0;
}

.form-bottom {
  color: var(--white);
  width: 50%;
  margin: 0 auto;
  height: 30px;
  border: 1px solid;
  border-radius: 5px;
  background-color: inherit;
  transition: .3s;
}

.form-bottom:hover {
  border: none;
  background-color: var(--lightgreen);
}

.network-logo-detail {
  margin: 1rem auto;
}

.network-logo-url {
  padding: 10px;
}

/* ------------------ footer ------------------- */
.footer {
  background: var(--darkgrey);
}

.footer .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.footer-container {
  background: var(--darkgrey);
  display: flex;
  align-items: inherit;
  color: var(--white);
  margin: 0 auto;
}

.designer-url {
  color: var(--white);
}

/* ------------------ media query ------------------- */

@media screen and (max-width: 780px) {
  :root {
    --font-xl: 2.2rem;
    --font-l: 1.7rem;
    --font-m: 1rem;
    --font-s: 1rem;
  }

  .wrapper {
    width: 100%;
    padding: 0 1rem;
  }

  .header .wrapper {
    flex-direction: column;
    padding-top: .5rem;
  }

  .logo-link {
    margin: 0 auto;
    margin-bottom: var(--font-m);
  }

  .menu {
    width: 100%;
  }

  .menu-list {
    flex-direction: column;
  }

  .menu-link-url {
    justify-content: center;
    height: var(--font-xl);
    width: 100%;
    margin: 0;
  }

  .header-list {
    display: block;
  }

  .hero-title {
    position: relative;
    z-index: 1;
    background-color: transparent;
  }

  .hero .wrapper {
    position: relative;
  }

  .hero-img-container {
    border-top-left-radius: 100%;
    position: absolute;
    right: 0;
  }

  .divider {
    display: none;
  }

  .project {
    display: block;
  }

  .project-details {
    width: auto;
  }

  .project-title {
    font-size: 20px;
  }

  .project-imageContainer {
    width: 50%;
    margin: 0 auto;
  }

  .experience-details {
    margin: 0;
  }
}

@media screen and (max-width: 480px) {

  .burger-button {
    display: block;
  }

  .menu {
    display: none;
    background-color: var(--lightgreen-transparent);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 100vh;
  }

  .active {
    display: inline-block;
  }

  .menu-list {
    height: 50vh;
    margin-top: 30%;
  }

  .menu-link-url{
    height: 100%;
    font-size: var(--font-l);
    text-decoration: underline;
  }

  .hero {
    height: 400px;
  }

  .experience-list {
    display: inline-block;
  }

  .experience {
    width: 100%;
  }

  .experience-details {
    margin: 2% 7%;
    margin-top: -40px;
  }
}