:root {
  --lightgreen: #7cfc00;
  --darkgreen: #108000;
  --darkgreen-alt: #7cfc0031;
  --white: #fff;
  --lightgrey: #ddd;
  --lightgrey-alt: #777;
  --darkgrey: #1b2127;
  --black-transparent: #00000050;
  --font-xl: 2.5rem;
  --font-l: 2rem;
  --font-m: 1.5rem;
  --font-s: 1rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: 'Fjalla One', sans-serif;;
}

/* ------------------ header ------------------- */
.wrapper {
  background: inherit;
  margin: 0 auto;
  width: 80%;
  height: inherit;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  flex-shrink: inherit;
  flex-wrap: inherit;
}

.header {
  background-color: var(--darkgrey);
  color: var(--white);
  height: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-shadow: 0px 10px 10px #000;
  position: relative;
  z-index: 1;
}
.menu {
  height: inherit;
}
.menu-list {
  display: flex;
  height: 100%;
}
.menu-item {
  height: inherit;
}
.menu-link-url {
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0 10px;
  color: var(--white);
}
.menu-link-url:hover{
  background-color: var(--black-transparent); 
}
.logo-link,
.logo-container {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0 10px;
  text-decoration: none;
}
.logo-img {
  height: 80%;
  width: auto;
}
.logo-text {
  margin-left: 10px;
  color: var(--white);
  font-size: var(--font-l);
}

p {
  font-family: 'Courgette', cursive;
}

/* ------------------ hero ------------------- */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 300px;
  background-color: var(--darkgrey);
}
.hero-title {
  height: auto;
  width: 700px;
  background: inherit;
  font-size: var(--font-xl);
  line-height: 1.5;
  letter-spacing: -0.5px;
  color: var(--white);
}
.hero-title strong {
  color: var(--lightgreen);
}
.hero-img {
  height: inherit;
  width: 700px;
  object-fit: cover;
}
.divider {
  margin-right: -50px;
  border-top: 300px solid var(--darkgrey);
  border-right: 50px solid transparent;
  position: relative;
}

/* ------------------ portfolio ------------------- */
.portfolio {
  background-color: var(--lightgrey);
  padding-bottom: 10px;
}
.portfolio-title {
  color: var(--lightgreen);
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  margin: 0;
  padding-top: 20px;
}

.project {
  display: flex;
  justify-content: space-between;
  background-color: var(--white);
  border-radius: 10px;
  margin-top: 20px;
  padding: 15px;
  box-shadow: 5px 5px 5px var(--darkgrey);
}
.project-details {
  width: 45%;
  padding: 10px;
  background: none;
}
.project-title {
  font-size: var(--font-m);
  margin: 0 0 .4em 0;
}
.project-course,
.project-date,
.project-url {
  color: var(--lightgrey-alt);
  font-size: var(--font-s);
  margin: 1em 0;
}
.project strong {
  color: var(--darkgrey);
}
.project-description {
  font-size: 1.3em;
}
.project-imageContainer {
  width: 45%;
  display: block;
}
.project-image{
  width: 100%;
  vertical-align: top;
}

/* ------------------ experience ------------------- */
.experience-list-title {
  background: var(--lightgrey);
  color: var(--lightgreen);
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  padding-top: 10px;
  margin: 0;
}
.experience-list {
  background: var(--lightgrey);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.experience {
  width: 45%;
  overflow: hidden;
  flex-shrink: 0;
  background: var(--darkgreen-alt);
  border-radius: 15px;
  margin: 10px 20px;
  box-shadow: 5px 5px 5px var(--darkgrey);
}
.experience-imageContainer {
  margin: 0;
  height: 250px;
}
.experience-image {
  width: 100%;
  height: inherit;
  object-fit: cover;
}
.experience-details {
  height: 250px;
  position: relative;
  margin: 20px 40px;
  margin-top: -40px;
  padding: 10px;
  background: var(--white);
  text-align: center;
}
.experience-title {
  margin: 10px;
  font-size: 2rem;
  color: var(--darkgrey);
}
.experience-description {
  font-size: 1rem;
  color: var(--lightgrey-alt);
  text-align: left;
  height: 150px;
}
.experience-url {
  color: var(--lightgreen);
  border: 2px solid;
  border-radius: 5px;
  padding: 5px 20px;
}

/* ------------------ contact ------------------- */
.contact {
  background: var(--darkgreen);
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.form-container {
  display: flex;
  flex-direction: column;
  align-items: left;
}
.form-title {
  color: var(--white);
  margin: 0;
  font-size: 2rem;
  text-transform: uppercase;
}
.form-email {
  border: 1px solid var(--white);
  border-radius: 5px;
  width: 300px;
  height: 30px;
  margin: 10px 0;
}
.form-bottom {
  color: var(--white);
  width: 160px;
  height: 30px;
  padding: 0;
  border: 1px solid;
  border-radius: 5px;
  background: inherit;
}
.network-logo-detail {
  background: inherit;
}
.network-logo-url {
  background: inherit;
  padding: 10px;
}

/* ------------------ footer ------------------- */
.footer {
  color: var(--white);
  background: var(--darkgrey);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.footer-container {
  background: var(--darkgrey);
  display: flex;
  align-items: inherit;
}
.designer-url {
  color: var(--white);
}
.project-details {
  width: auto;
}
.project-imageContainer {
  width: auto;
  text-align: center;
}

/* ------------------ media query ------------------- */
@media screen and (max-width: 1024px) {
  .header .wrapper{
    width: 100%;
  }

  .hero {
    flex-wrap: wrap;
  }

  .divider {
    display: none;
  }

  .project {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  body {
    border: 10px solid blue;
  }
  .header{
    display: block;
  }
  .logo-container{
    padding: 10px;
    justify-content: center;
  }
  .logo-text{
    margin: 0;
  }
  .header-list {
    display: block;
  }
  .menu-link-url{
    justify-content: center;
    padding: 15px 0;
    margin: 10px 0;
  }

  .project {
    display: block;
  }
  .project-details {
    width: auto;
  }
  .project-title {
    font-size: 20px;
  }
  .project-imageContainer {
    width: auto;
    text-align: center;
  }

  .wrapper { width: 95%; }
}

@media screen and (max-width: 480px) {
  body {
    border: 10px solid yellow;
  }
}

@media screen and (max-width: 320px) {
  body {
    border: 10px solid var(--darkgreen);
  }
}