:root {
  --ff-title: 'Lexend', sans-serif;
  --ff-text: 'DM Sans', sans-serif;
  --f-h1: 700 4rem/5rem var(--ff-title);
  --f-h2: 700 3.6rem/4.2rem var(--ff-title);
  --f-h3: 600 3.2rem/3.6rem var(--ff-title);
  --f-text: 400 1.6rem/3rem var(--ff-text);
  --f-small: 400 1.5rem/3rem var(--ff-text);
  --color-primary-light: #2bc016;
  --color-primary-dark: #0a5635;
  --color-primary-alt: #006e90;
  --color-secondary-light: #fafafa;
  --color-secondary-dark: #eaeaea;
  --color-secondary-error: #f43030;
}
